services:
  frontend-service:
    build:
      context: ./frontend-service
      dockerfile: Dockerfile
    image: adameds/frontend:v1.0.0
    container_name: adameds-frontend
    ports: ["5520:5520"]
    networks: [adameds]
    restart: always
    env_file:
      - .env
    
  admisi-services:
    depends_on: [db, redis, mongodb]
    container_name: admisi-service
    image: adameds/admisi-service:v1.0.0
    build:
      context: ./admisi-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8081:8081"]
  
  antrian-service:
    depends_on: [db, redis, mongodb]
    container_name: antrian-service
    image: adameds/antrian-service:v1.0.0
    build:
      context: ./antrian-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8082:8082"]

  auth-service:
    depends_on: [db, redis, mongodb]
    container_name: auth-service
    image: adameds/auth-service:v1.0.0
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8083:8083"]
    
  farmasi-service:
    depends_on: [db, redis, mongodb]
    container_name: farmasi-service
    image: adameds/farmasi-service:v1.0.0
    build:
      context: ./farmasi-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8084:8084"]
  
  igd-service:
    depends_on: [db, redis, mongodb]
    container_name: igd-service
    image: adameds/igd-service:v1.0.0
    build:
      context: ./igd-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8085:8085"]

  inventory-service:
    depends_on: [db, redis, mongodb]
    container_name: inventory-service
    image: adameds/inventory-service:v1.0.0
    build:
      context: ./inventory-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8086:8086"]
  
  lab-service:
    depends_on: [db, redis, mongodb]
    container_name: lab-service
    image: adameds/lab-service:v1.0.0
    build:
      context: ./lab-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8087:8087"]
  
  laporan-service:
    depends_on: [db, redis, mongodb]
    container_name: laporan-service
    image: adameds/laporan-service:v1.0.0
    build:
      context: ./laporan-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8088:8088"]
  
  payment-service:
    depends_on: [db, redis, mongodb]
    container_name: payment-service
    image: adameds/payment-service:v1.0.0
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8089:8089"]
  
  rawat-inap-service:
    depends_on: [db, redis, mongodb]
    container_name: rawat-inap-service
    image: adameds/rawat-inap-service:v1.0.0
    build:
      context: ./rawat-inap-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8091:8091"]
  
  rawat-jalan-service:
    depends_on: [db, redis, mongodb]
    container_name: rawat-jalan-service
    image: adameds/rawat-jalan-service:v1.0.0
    build:
      context: ./rawat-jalan-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8092:8092"]

  rekamedis-service:
    depends_on: [db, redis, mongodb]
    container_name: rekamedis-service
    image: adameds/rekamedis-service:v1.0.0
    build:
      context: ./rekamedis-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8093:8093"]
  
  setting-service:
    depends_on: [db, redis, mongodb]
    container_name: setting-service
    image: adameds/setting-service:v1.0.0
    build:
      context: ./setting-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8094:8094"]
  
  stok-farmasi-service:
    depends_on: [db, redis, mongodb]
    container_name: stok-farmasi-service
    image: adameds/stok-farmasi-service:v1.0.0
    build:
      context: ./stok-farmasi-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8095:8095"]
  datamaster-service:
    depends_on: [db, redis, mongodb]
    container_name: datamaster-service
    image: adameds/datamaster-service:v1.0.0
    build:
      context: ./datamaster-service
      dockerfile: Dockerfile
    env_file:
      - .env
    networks: [adameds]
    restart: always
    ports: ["8096:8096"]
  db:
    container_name: db-adameds
    ports: ["5432:5432"]
    image: postgres:16-alpine
    volumes:
      - type: volume
        source: db-adameds
        target: /var/lib/postgresql
      - type: bind
        source: ./schema.sql
        target: /docker-entrypoint-initdb.d/schema.sql
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    networks: [adameds]
  mongodb:
    container_name: mongodb-adameds
    image: mongo:latest
    ports: ["27017:27017"]
    volumes:
      - type: volume
        source: mongodb-adameds
        target: /data/db
      - type: bind
        source: /docker-entrypoint-initdb.d/mongo-init.js:ro
        target: ./mongo-init.js
    restart: always
    networks: [adameds]
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USERNAME}
      MONGO_DB_PASSWORD: ${MONGO_DB_PASSWORD}
  
  redis:
    container_name: redis-adameds
    image: redis:7.0.11-alpine
    ports: ["6379:6379"]
    volumes:
      - type: volume
        source: redis-adameds
        target: /data
      - type: bind
        source: ./redis.conf
        target: /usr/local/etc/redis/redis.conf
    restart: always
    networks: [adameds]

volumes:
  db-adameds: {}
  mongodb-adameds: {}
  redis-adameds: {}
networks:
  adameds:
    driver: bridge